//
//  This file is part of the 2FAS Browser Extension (https://github.com/twofas/2fas-browser-extension)
//  Copyright © 2023 Two Factor Authentication Service, Inc.
//  Contributed by Grzegorz Zając. All rights reserved.
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program. If not, see <https://www.gnu.org/licenses/>
//

@use "sass:color";

@use "../../global-styles/variables" as v;

.twofas-be-notifications {
  box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif !important;
  position: fixed !important;
  right: 25px !important;
  top: 25px !important;
  user-select: none !important;
  z-index: 999999 !important;
  z-index: infinite !important;

  @media all and (max-width: 400px) {
    padding: 10px !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
  }

  * {
    box-sizing: border-box !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  .twofas-be-notification {
    background-color: v.$color-2 !important;
    border-radius: 13px !important;
    color: v.$color !important;
    display: flex !important;
    flex-direction: row !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 25px !important;
    max-width: 380px !important;
    overflow: hidden !important;
    position: relative !important;
    text-align: left !important;
    transform: translateX(425px) !important;
    transition: box-shadow .3s ease-in-out, max-height .3s ease-in-out, margin-bottom .3s ease-in-out, transform .3s ease-in-out !important;
    z-index: 999999 !important;
    z-index: infinite !important;

    &.visible {
      box-shadow: 0 0 20px 5px rgba(#333, .1) !important;
      transform: translateX(0) !important;
    }

    &.hidden {
      margin-bottom: 0 !important;
      max-height: 0 !important;
    }

    &-close {
      appearance: none !important;
      background: transparent !important;
      border: 0 !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      cursor: pointer !important;
      line-height: 1 !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: 0 !important;
      min-height: 0 !important;
      min-width: 0 !important;
      padding: 0 !important;
      position: absolute !important;
      right: 2px !important;
      top: 2px !important;

      > svg {
        height: auto !important;
        margin-right: 0 !important;
        max-width: unset !important;
        width: 24px !important;
      }
    }

    &-buttons {
      border-radius: 0 !important;
      box-shadow: none !important;
      display: flex !important;
      flex-direction: row !important;
      height: 15px !important;
      justify-content: space-between !important;
      line-height: 1 !important;
      margin-top: 10px !important;
      overflow: hidden !important;
      width: 100% !important;

      button {
        appearance: none !important;
        background: transparent !important;
        border: 0 !important;
        border-radius: 0 !important;
        color: v.$theme-color !important;
        cursor: pointer !important;
        display: inline-block !important;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 12px !important;
        font-weight: 700 !important;
        line-height: 1 !important;
        margin-bottom: 0 !important;
        margin-right: 8px !important;
        margin-top: 0 !important;
        min-height: 0 !important;
        min-width: 0 !important;
        padding: 0 !important;
        position: static !important;
        transition: color .2s ease-in-out !important;

        &:last-of-type {
          margin-right: 0 !important;
        }

        &:hover {
          color: color.adjust(v.$theme-color, $lightness: -10%) !important;
        }

        &:active {
          color: color.adjust(v.$theme-color, $lightness: -20%) !important;
        }

        &.twofas-never {
          color: v.$color-header !important;
          font-family: 'Montserrat', sans-serif !important;
          font-weight: 400 !important;
          text-decoration: underline !important;

          &:hover,
          &:active {
            color: v.$color !important;
          }
        }
      }
    }

    &-token-box {
      align-items: center !important;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      margin-bottom: 10px !important;

      > p {
        &.twofas-be-notification-token-box-text {
          color: v.$color !important;
          font-size: 32px !important;
          font-weight: 700 !important;

          @media all and (max-width: 400px) {
            font-size: 24px !important;
          }
        }
      }

      > button {
        &.twofas-be-notification-token-box-copy-button {
          align-items: center !important;
          appearance: none !important;
          background-color: v.$theme-color !important;
          border: 0 !important;
          border-radius: 20px !important;
          color: v.$color-2 !important;
          cursor: pointer !important;
          display: inline-flex !important;
          flex-direction: row !important;
          font-size: 12px !important;
          font-weight: 600 !important;
          height: 40px !important;
          justify-content: space-between !important;
          letter-spacing: .9px !important;
          line-height: 40px !important;
          padding: 0 5px 0 16px !important;
          outline: none !important;
          text-align: center !important;
          text-decoration: none !important;
          text-transform: uppercase !important;
          transition: background-color .2s ease-in-out, color .2s ease-in-out !important;

          &:hover {
            background-color: color.adjust(v.$theme-color, $lightness: -10%) !important;
            color: v.$color-2 !important;
          }
      
          &:active {
            background-color: color.adjust(v.$theme-color, $lightness: -20%) !important;
            color: v.$color-2 !important;
          }

          > span {
            flex-grow: 1 !important;
            margin-right: 8px !important;
          }

          > .twofas-be-notification-token-box-copy-icon {
            align-items: center !important;
            background-color: v.$color-2 !important;
            border-radius: 50% !important;
            display: flex !important;
            justify-content: center !important;
            height: 32px !important;
            width: 32px !important;

            > svg {
              height: 16px !important;
              margin-right: 0 !important;
              max-width: 100% !important;
              width: auto !important;
            }
          }
        }
      }
    }

    .twofas-be-col {
      flex-shrink: unset !important;
      font-family: 'Montserrat', sans-serif !important;
      margin: 13px 0 !important;

      &:first-of-type {
        align-items: center !important;
        display: flex !important;
        margin-left: 16px !important;
      }

      &:last-of-type {
        margin-right: 18px !important;
      }

      > svg {
        height: 34px !important;
        margin-right: 16px !important;
        max-width: 28px !important;
        width: 28px !important;
      }
    }

    /* ProtonMail FIX */
    .twofas-be-notification-header,
    .twofas-be-notification-text {
      border-radius: 0 !important;
      box-shadow: none !important;
      display: block !important;
      overflow: auto !important;
    }
    /* ProtonMail FIX */

    button {
      &:hover,
      &:focus,
      &:active {
        outline: none !important;
      }
    }

    h3,
    p {
      font-family: 'Montserrat', sans-serif !important;
      margin: 0 !important;
      padding: 0 !important;
      text-decoration: none !important;
      text-transform: unset !important;
    }

    h3 {
      border-bottom: none !important; // AWS FIX
      color: v.$color !important;
      font-size: 16px !important;
      font-weight: 700 !important;
      line-height: 20px !important;
      margin-bottom: 4px !important;
    }

    p {
      color: v.$color-header !important;
      font-size: 12px !important;
      font-weight: 400 !important;
      line-height: 15px !important;

      > a {
        color: v.$theme-color !important;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 12px !important;
        font-weight: 700 !important;
        line-height: 15px !important;
        transition: color .2s ease-in-out !important;

        &:hover {
          color: color.adjust(v.$theme-color, $lightness: -10%) !important;
        }

        &:active {
          color: color.adjust(v.$theme-color, $lightness: -20%) !important;
        }
      }
    }
  }
}
