//
//  This file is part of the 2FAS Browser Extension (https://github.com/twofas/2fas-browser-extension)
//  Copyright © 2026 Two Factor Authentication Service, Inc.
//  Contributed by Grzegorz Zając. All rights reserved.
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program. If not, see <https://www.gnu.org/licenses/>
//

@use "sass:color";

@use "../global-styles/variables" as v;

@use "../global-styles/global";

@use "../global-styles/input";

@use "../global-styles/buttons";

@use "../global-styles/shortcut";

@use "styles/container";

@use "styles/configured";

@use "styles/integrityError";

.twofas-install-page {
  background-color: v.$bg;
  box-sizing: border-box;
  color: v.$color;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  min-height: 100vh;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: v.$bg-dark;
    color: v.$color-2;
  }

  &-footer,
  &-header {
    background: v.$color-2;
    height: 90px;
    line-height: 90px;
    text-align: center;
    width: 100%;

    @media (prefers-color-scheme: dark) {
      background-color: v.$dark-color;
    }

    @media all and (max-width: 800px) {
      height: 75px;
      line-height: 75px;
    }

    &-logo {
      display: inline-block;

      img {
        vertical-align: middle;
        width: 135px;

        &.twofas-install-page-header-logo-light {
          display: inline-block;
        }

        &.twofas-install-page-header-logo-dark {
          display: none;
        }

        @media (prefers-color-scheme: dark) {
          &.twofas-install-page-header-logo-light {
            display: none;
          }

          &.twofas-install-page-header-logo-dark {
            display: inline-block;
          }
        }
      }
    }

    &-faq {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;

      p {
        color: v.$color;
        font-size: 16px;
        line-height: 30px;
        text-align: center;

        @media (prefers-color-scheme: dark) {
          color: v.$color-2;
        }

        a {
          margin-left: 5px;
        }
      }
    }
  }

  &-footer {
    a {
      color: v.$theme-color;
      text-decoration: none;
      transition: color .2s ease-in-out;

      &:hover {
        color: color.adjust(v.$theme-color, $lightness: -5%);
        text-decoration: underline;
      }
    }
  }
}
