//
//  This file is part of the 2FAS Browser Extension (https://github.com/twofas/2fas-browser-extension)
//  Copyright © 2023 Two Factor Authentication Service, Inc.
//  Contributed by Grzegorz Zając. All rights reserved.
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program. If not, see <https://www.gnu.org/licenses/>
//

@use "sass:color";
@import "../../global-styles/variables";

&-content {
  // VARIABLES
  $content-bg: $color-2;
  $add-icon-color: $color-2;
  $settings-table-header-bg: #d3d4e2;
  $settings-table-header-bg-dark: #272931;
  $settings-table-header-color: $color-header;
  $settings-table-body-bg: $bg;
  $settings-table-body-bg-dark: #30313b;
  $settings-table-border-color: rgba(#898989, .3);
  $settings-version-color: $color-header;

  background-color: $content-bg;
  flex: 1 1 0;
  left: 240px;
  height: 100%;
  overflow: auto;
  padding: 50px 20px 30px;
  position: fixed;
  top: 0;
  width: calc(100% - 240px);

  @media (prefers-color-scheme: dark) {
    background-color: $bg-dark;
  }

  @media all and (max-width: $screen-sm-max), all and (max-height: $op-rwd-height) {
    height: auto;
    left: auto;
    overflow: unset;
    padding: 84px 20px 30px;
    position: static;
    top: auto;
    width: 100%;
  }

  &-container {
    display: none;
    margin: 0 auto;
    max-width: 1035px;
    width: 100%;

    &.active {
      display: block;
    }

    &-intro-video {
      margin-bottom: 66px;
      position: relative;

      @media all and (max-width: $screen-md-max) {
        margin-bottom: 50px;
      }

      @media all and (max-width: $screen-sm-max) {
        margin-bottom: 30px;
      }

      .btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        svg {
          height: 30px;
          width: 24px;
        }
      }

      img {
        width: 100%;

        @media (prefers-color-scheme: dark) {
          opacity: .5;
        }
      }
    }
  }

  &-ext-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 100%;
  }

  &-paired-devices {
    &-list {
      table {
        border-collapse: collapse;
        border: 0;
        margin-bottom: 34px;
        width: 100%;

        @media all and (max-width: 660px) {
          display: block;
          margin-bottom: 16px;
        }

        thead {
          @media all and (max-width: 660px) {
            display: none;
          }

          tr {
            th {
              background-color: $settings-table-header-bg;
              color: $settings-table-header-color;
              font-size: 16px;
              font-weight: 600;
              height: 50px;
              line-height: 20px;
              text-align: left;

              @media (prefers-color-scheme: dark) {
                background-color: $settings-table-header-bg-dark;
              }

              &:first-child {
                border-top-left-radius: 10px;
              }

              &:nth-of-type(2) {
                width: 190px;
              }

              &:last-child {
                border-top-right-radius: 10px;
              }
            }
          }
        }

        tbody {
          @media all and (max-width: 660px) {
            display: block;
          }

          tr {
            @media all and (max-width: 660px) {
              display: block;
              margin-bottom: 10px;
            }

            &:last-of-type {
              td {
                border-bottom: 0;

                &:first-of-type {
                  border-bottom-left-radius: 10px;

                  @media all and (max-width: 660px) {
                    border-bottom-left-radius: 0;
                  }
                }

                &:last-of-type {
                  border-bottom-right-radius: 10px;
                }

                &:first-of-type:last-of-type {
                  @media all and (max-width: 660px) {
                    border-bottom-left-radius: 10px;
                  }
                }
              }
            }

            td {
              background-color: $settings-table-body-bg;
              border-bottom: 1px solid $settings-table-border-color;
              color: $color;
              font-size: 14px;
              font-weight: 400;
              padding-bottom: 16px;
              padding-top: 16px;
              text-align: left;

              @media (prefers-color-scheme: dark) {
                background-color: $settings-table-body-bg-dark;
                color: $color-2;
              }

              @media all and (max-width: 660px) {
                border: 0;
                display: flex;
                flex-direction: row;
                line-height: 21px;
                padding: 0 10px;

                &::before {
                  content: attr(data-before-i18n) ': ';
                  font-weight: 700;
                  margin-right: 5px;
                  text-align: left;
                }

                &:nth-of-type(1) {
                  border-radius: 10px 10px 0 0;
                  padding-top: 10px;

                  &:last-of-type {
                    padding: 10px;
                  }
                }

                &:nth-of-type(4) {
                  border-radius: 0 0 10px 10px;
                  padding-bottom: 10px;
                }
              }
            }
          }
        }

        th,
        td {
          padding-left: 22px;
          padding-right: 22px;

          &:nth-last-of-type(1),
          &:nth-last-of-type(2) {
            text-align: center;

            @media all and (max-width: 660px) {
              padding-left: 10px;
              padding-right: 10px;
              text-align: left;
            }
          }
        }

        td {
          p {
            color: $color;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;

            @media (prefers-color-scheme: dark) {
              color: $color-2;
            }
          }

          button {
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: 0;
            height: 21px;
            width: 19px;

            &:hover {
              svg {
                stroke: color.adjust($theme-color, $lightness: -10%);
              }
            }

            svg {
              stroke: $theme-color;
              transition: .2s stroke ease-in-out;
            }
          }
        }
      }
    }

    &-add {
      align-items: center;
      display: inline-flex;
      flex-direction: row;

      &:hover {
        .twofas-options-page-content-paired-devices-add-icon {
          background-color: color.adjust($theme-color, $lightness: -10%);
        }

        .twofas-options-page-content-paired-devices-add-text {
          color: color.adjust($theme-color, $lightness: -10%);
        }
      }

      &-icon {
        align-items: center;
        background-color: $theme-color;
        border-radius: 50%;
        color: $add-icon-color;
        display: flex;
        height: 37px;
        justify-content: center;
        margin-right: 11px;
        text-align: center;
        transition: background-color .2s ease-in-out;
        width: 37px;

        svg {
          display: inline-block;
          height: 12px;
          width: 12px;
        }
      }

      &-text {
        color: $theme-color;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: .8125px;
        text-transform: uppercase;
        transition: color .2s ease-in-out;
      }
    }
  }

  &-advanced {
    margin-bottom: 20px;
    margin-top: 40px;

    &-header {
      h2 {
        align-items: center;
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        gap: 0 7px;

        &.open {
          svg {
            transform: rotate(180deg);
          }
        }

        svg {
          transform: rotate(0);
        }
      }
    }

    &-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height .35s ease-in-out;

      &.visible {
        max-height: 600px;
      }
    }
  }

  &-logs,
  &-context-menu,
  &-push,
  &-safari-reset {
    margin-top: 40px;

    @media all and (max-width: $screen-xs-max) {
      margin-top: 20px;
    }

    &-desc {
      p {
        color: $desc-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        max-width: 477px;
      }
    }
  }

  &-logs {
    margin-top: 6px;

    @media all and (max-width: $screen-xs-max) {
      margin-top: 6px;
    }
  }

  &-safari-reset {
    border: 2px solid $theme-color;
    border-radius: 16px;
    max-width: 600px;
    padding: 16px;

    h6 {
      color: $theme-color;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: .8125px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    p {
      color: $color;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 16px;
      user-select: none;

      @media all and (prefers-color-scheme: dark) {
        color: $color-2;
      }

      @media all and (max-width: $screen-xs-max) {
        font-size: 12px;
        line-height: 18px;
      }

      @media all and (max-width: 360px) {
        font-size: 11px;
      }
    }
  }

  &-social {
    display: none;
    justify-content: flex-end;
    margin-bottom: 16px;
    margin-top: 66px;

    @media all and (max-width: $screen-sm-max), all and (max-height: $op-rwd-height) {
      display: flex;
    }

    @media all and (max-width: $screen-xs-max) {
      margin-top: 20px;
    }

    ul {
      display: inline-flex;
      list-style: none;
      gap: 0 12px;
      margin: 0;
      padding: 0;

      li {
        a {
          align-items: center;
          display: flex;
          height: 32px;
          justify-content: center;
          width: 32px;
        }
      }
    }
  }

  &-version {
    text-align: right;

    p {
      color: $settings-version-color;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  h2 {
    color: $color-header;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 2.33;
    text-transform: uppercase;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.33;
    margin-bottom: 54px;
    max-width: 100%;
    width: 710px;

    @media all and (max-width: $screen-sm-max), all and (max-height: $op-rwd-height) {
      font-size: 32px;
      margin-bottom: 48px;
    }

    @media all and (max-width: 660px) {
      font-size: 28px;
      margin-bottom: 24px;
    }

    @media all and (max-width: 440px) {
      font-size: 24px;
    }

    &.twofas-intro-header {
      width: 100%;

      @media all and (max-width: $screen-md-max) {
        font-size: 32px;
      }

      @media all and (max-width: $screen-sm-max) {
        margin-bottom: 40px;
      }
    }
  }
}
