//
//  This file is part of the 2FAS Browser Extension (https://github.com/twofas/2fas-browser-extension)
//  Copyright © 2023 Two Factor Authentication Service, Inc.
//  Contributed by Grzegorz Zając. All rights reserved.
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program. If not, see <https://www.gnu.org/licenses/>
//

@use "../../global-styles/variables" as v;

.twofas-options-page-integrity-error {
  align-items: center;
  background-color: v.$color-2;
  display: none;
  flex-direction: column;
  gap: 20px 0;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &.show-integrity-error {
    display: flex;
  }

  @media (prefers-color-scheme: dark) {
    background-color: v.$bg-dark;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
  }

  h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    max-width: 450px;
    text-align: center;
  }

  p {
    color: v.$theme-color;
    font-size: 80px;
    font-weight: 700;
    margin: 20px 0;
  }
}
