//
//  This file is part of the 2FAS Browser Extension (https://github.com/twofas/2fas-browser-extension)
//  Copyright © 2026 Two Factor Authentication Service, Inc.
//  Contributed by Grzegorz Zając. All rights reserved.
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program. If not, see <https://www.gnu.org/licenses/>
//

@use "sass:color";

@use "../../global-styles/variables" as v;

.twofas-options-page-pin-info {
  align-items: flex-start;
  background-color: rgba(#4f4f4f, 50%);
  display: flex;
  justify-content: flex-end;
  height: 100%;
  left: 0;
  opacity: 1;
  padding: 12px;
  position: fixed;
  top: 0;
  transition: opacity .25s ease-in-out;
  width: 100%;
  z-index: 9998;

  @media (prefers-color-scheme: dark) {
    background-color: rgba(v.$color, 50%);
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &-box {
    background-color: v.$color-2;
    border-radius: 24px;
    padding: 16px;
    max-width: 352px;
    text-align: center;

    @media (prefers-color-scheme: dark) {
      background-color: #202229;
    }

    &-slider {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      position: relative;

      &.step2 {
        .twofas-options-page-pin-info-box-slider-item {
          transform: translateX(-100%);
        }

        + .twofas-options-page-pin-info-box-indicators {
          div {
            &:first-of-type {
              background-color: v.$color-header;
              width: 5px;
            }

            &:nth-of-type(2) {
              background-color: v.$theme-color;
              width: 22px;
            }
          }
        }
      }

      &-item {
        flex: 0 0 100%;
        transition: transform .2s ease-in-out;
        position: relative;
        width: 100%;

        .toolbar-customization {
          color: v.$color;
          font-size: 14px;
          font-weight: 600;
          left: 20%;
          top: 16.5%;
          position: absolute;

          @media all and (max-width: 375px) {
            display: none;
          }

          @media (prefers-color-scheme: dark) {
            color: v.$color-2;
          }
        }
      }
    }

    &-indicators {
      align-items: center;
      display: flex;
      gap: 0 8px;
      justify-content: center;
      margin-top: 16px;
      
      div {
        background-color: v.$color-header;
        border-radius: 2.5px;
        cursor: pointer;
        height: 5px;
        transition: background-color .2s ease-in-out, width .2s ease-in-out;
        width: 5px;

        &:first-of-type {
          background-color: v.$theme-color;
          width: 22px;
        }
      }
    }

    &-header {
      color: v.$color;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 8px;

      @media (prefers-color-scheme: dark) {
        color: v.$color-2;
      }
    }

    &-subheader {
      color: v.$color-header;
      font-size: 12px;
      line-height: 1.17;
      margin-bottom: 17px;

      @media (prefers-color-scheme: dark) {
        color: v.$color-2;
      }
    }

    img {
      margin-bottom: 20px;
      width: 100%;

      &.light {
        display: block;
      }

      &.dark {
        display: none;
      }

      @media (prefers-color-scheme: dark) {
        &.light {
          display: none;
        }

        &.dark {
          display: block;
        }
      }
    }
  }
}
