<!--

  This file is part of the 2FAS Browser Extension (https://github.com/twofas/2fas-browser-extension)
  Copyright © 2023 Two Factor Authentication Service, Inc.
  Contributed by Grzegorz Zając. All rights reserved.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program. If not, see <https://www.gnu.org/licenses/>

-->

<div class="twofas-confirm-modal hidden js-twofas-confirm-modal">
  <div class="twofas-confirm-modal-body">
    <button class="twofas-confirm-modal-close js-twofas-confirm-modal-cancel">
      <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="twofas-confirm-modal-close-bg" width="56" height="56" />
        <rect class="twofas-confirm-modal-close-x" x="16" y="18.1213" width="3" height="30" rx="1.5" transform="rotate(-45 16 18.1213)" />
        <rect class="twofas-confirm-modal-close-x" x="37.2134" y="16" width="3" height="30" rx="1.5" transform="rotate(45 37.2134 16)" />
      </svg>
    </button>

    <h2 class="js-twofas-confirm-modal-header"></h2>
    <p class="js-twofas-confirm-modal-text"></p>

    <div class="twofas-confirm-modal-body-buttons">
      <button data-i18n="yes" class="btn btn-clear js-twofas-confirm-modal-confirm">Yes</button>
      <button data-i18n="cancel" class="btn btn-theme js-twofas-confirm-modal-cancel">Cancel</button>
    </div>
  </div>
</div>