<!--

  This file is part of the 2FAS Browser Extension (https://github.com/twofas/2fas-browser-extension)
  Copyright © 2023 Two Factor Authentication Service, Inc.
  Contributed by Grzegorz Zając. All rights reserved.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program. If not, see <https://www.gnu.org/licenses/>

-->
<div class="twofas-shortcut-edit">
  <h2 data-i18n="shortcut">Shortcut:</h2>

  <div class="twofas-shortcut-edit-box">
    <div class="twofas-shortcut-edit-box-btn">Ctrl</div>
    <div class="twofas-shortcut-edit-box-plus">+</div>
    <div class="twofas-shortcut-edit-box-btn">Shift</div>
    <div class="twofas-shortcut-edit-box-plus">+</div>
    <div class="twofas-shortcut-edit-box-btn">2</div>
  </div>

  <p data-i18n="shortcutUseDesc" class="js-twofas-shortcut-description">Use this shortcut to open the 2FAS Browser Extension on any page.</p>
</div>

<div class="twofas-options-page-content-advanced">
  <div class="twofas-options-page-content-advanced-header">
    <h2 class="js-twofas-advance-header">
      <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.271 1.5L4.271 4.5L7.271 1.5" stroke="#797A81" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span data-i18n="advanced">Advanced</span>
    </h2>
  </div>

  <div class="twofas-options-page-content-advanced-content js-twofas-advance-content">
    <div class="twofas-options-page-content-logs">
      <div class="twofas-toggle">
        <input type="checkbox" name="twofas-logs" id="twofas-logs">
        <label for="twofas-logs">
          <span class="twofas-toggle-box">
            <span class="twofas-toggle-box-circle"></span>
          </span>

          <span class="twofas-toggle-text">
            <span data-i18n="optionsLogsLabel">Approve 2FAS browser extension logs</span>
          </span>
        </label>

        <div class="twofas-options-page-content-logs-desc">
          <p data-i18n="optionsLogsDesc">Help us improve our browser extension by approving anonymous logs from your browser regarding 2FAS extension errors only.</p>
        </div>
      </div>
    </div>

    <div class="twofas-options-page-content-safari-reset">
      <h6 data-i18n="optionsDangerZone">Danger Zone</h6>
      <p data-i18n="optionsSafariResetDesc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ab possimus odit similique? Veritatis laboriosam accusantium dolores architecto quaerat quia optio? Maxime, voluptate explicabo perferendis molestiae natus harum labore hic?</p>
      <button data-i18n="optionsSafariReset" class="btn btn-theme js-twofas-safari-reset">Reset extension</button>
    </div>
  </div>
</div>