<!--

  This file is part of the 2FAS Browser Extension (https://github.com/twofas/2fas-browser-extension)
  Copyright © 2023 Two Factor Authentication Service, Inc.
  Contributed by Grzegorz Zając. All rights reserved.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program. If not, see <https://www.gnu.org/licenses/>

-->
<div class="twofas-options-page-pin-info hidden">
  <div class="twofas-options-page-pin-info-box">
    <div class="twofas-options-page-pin-info-box-slider js-twofas-pin-info-slider">
      <div class="twofas-options-page-pin-info-box-slider-item">
        <img class="light" src="../../images/pin-info/safari-step-1.svg" alt="Right click on the address bar, select Toolbar customization" data-i18n="optionsPinSafariStep1" loading="lazy" decoding="async" />
        <img class="dark" src="../../images/pin-info/safari-step-1-dark.svg" alt="Right click on the address bar, select Toolbar customization" data-i18n="optionsPinSafariStep1" loading="lazy" decoding="async" />

        <span class="toolbar-customization" data-i18n="optionsPinSafariToolbarCustomization">Toolbar customization</span>
        <p class="twofas-options-page-pin-info-box-header" data-i18n="optionsPinSafariStep1">Right click on the address bar, select Toolbar customization</p>
        <button class="btn btn-theme btn-got-it js-twofas-pin-info-next" data-i18n="next">Next</button>
      </div>
      <div class="twofas-options-page-pin-info-box-slider-item">
        <img class="light" src="../../images/pin-info/safari-step-2.svg" alt="Find 2FAS icon on the list, drag it to the toolbar" data-i18n="optionsPinSafariStep2" loading="lazy" decoding="async" />
        <img class="dark" src="../../images/pin-info/safari-step-2-dark.svg" alt="Find 2FAS icon on the list, drag it to the toolbar" data-i18n="optionsPinSafariStep2" loading="lazy" decoding="async" />
        
        <p class="twofas-options-page-pin-info-box-header" data-i18n="optionsPinSafariStep2">Find 2FAS icon on the list, drag it to the toolbar</p>
        <button class="btn btn-theme btn-got-it js-twofas-pin-info-got-it" data-i18n="gotIt">Got it</button>
      </div>
    </div>

    <div class="twofas-options-page-pin-info-box-indicators">
      <div class="js-twofas-pin-info-prev"></div>
      <div class="js-twofas-pin-info-next"></div>
    </div>
  </div>
</div>